# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore Visual Studio IntelliCode index files
*.vsidx
*.dtbcache.v2
*.futdcache.v2
*.v7.bin
*.exe

# Ignore build output directories
bin/
obj/

# Ignore temporary files
*.tmp
*.temp

# Ignore debugging files
*.pdb

# Ignore secrets and configuration files
# appsettings.Development.json
# secrets.json