  .buttonWrapper   {
    width: auto;
    display: flex;
    justify-content: flex-end;
  }

  .inputButton {
    font-size: 16px;
    font-weight: 600;
    height: 40px;
    padding: 10px 30px;
    margin: 10px 0 10px 10px;
    transition: all 200ms;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 8px;
    cursor: pointer;
  }

  .confirmBtn {
    background-color: rgb(5, 148, 12);
  }

  .closeBtn {
    background-color: rgb(216, 38, 38);
  }

  .confirmBtn:hover {
    background-color: rgb(4, 120, 10);
  }

  .closeBtn:hover {
    background-color: rgb(180, 14, 14);
  }
