.nav {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #393e46;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    position: fixed;
    top: 0;
    z-index: 10000;
    background-color: #ffffff;
    width: -webkit-fill-available;
}

.logo {
    height: 60px;
    padding-top: 10px;
}

.itemHolder a {
    font-size: 1em;
    padding: 0 10px;
    text-decoration: none;
    color: #393e46;
}

.active {
    color: rgb(0, 184, 9);
}

.itemHolder a:hover {
    color: rgb(5, 148, 12);
}

.itemHolder {
    display: flex;
    align-items: center;
    gap: 15px;
}

span span {
    cursor: pointer;
}

.sideMenuArea {
    display: flex;
    align-items: center;
}

.menuBtn {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all 400ms;
}

.menuBtn:hover{
    transform: scale(1.1);
}

.logOutBtn {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: all 400ms;
}

.logOutBtn:hover{
    transform: scale(1.2);
}

.sideMenu {
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    right: -290px;
    z-index: 1000;
    transition: right 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 100px 20px;
    box-shadow: -6px 0 10px rgba(0, 0, 0, 0.35);
}

.sideMenu a {
    color: #3b3b3b;
    text-decoration: none;
    margin: 10px 0;
    font-size: 14px;
    font-weight: 600;
}

.sideMenu.open {
    right: 0px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 900;
}

.menuHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 0 20px 5px;
    color: white;
    font-size: 14px;
    color: #3b3b3b;
    align-items: center;
}

.menuHeader span {
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 16px;
}

.menuIconWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px;
    margin: 5px 0;
    border-radius: 5px;
}

.menuIconWrapper a span {
    font-size: 12px !important;
    color: #7e7e7e;
    font-weight : 700;
}

.menuIconWrapper:hover {
    background-color: rgb(238, 238, 238);
}

.menuIcon {
    height: 20px;
}

.sideMenuFirstContent{
    position: relative;
}

.sideMenuFirstContent::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    left: 0;
    z-index: -1;
} 

.sideMenuMiddleContent {
    position: relative;
    padding-bottom: 20px;
}

.sideMenuMiddleContent span {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 13px;
    font-weight: 600;
    color: #666666;
}

.sideMenuMiddleContent span img{
    height: 50px;
    /* background-color: #bbbbbb33; */
    border-radius: 15px;
    margin: 0 20px;
}

.sideMenuLastContent {
    position: relative;
    padding-top: 20px;
}

.sideMenuLastContent::before {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
} 

.sideMenuLastContent {
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sideMenuLastContent div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideMenuLastContent div img{
    margin: 0 10px;
}

.sideMenuLastContent span {
    color: rgb(255, 217, 0);
    font-weight: 400;
}

.sideMenuLastContent span,
.sideMenuLastContent img.menuIcon {
    animation: blink 1s infinite;
}

.sideMenuMiddleContent img[src='./src/assets/images/logo.png']:hover {
    animation: blink-logo 1s infinite;
}
  
@keyframes blink {
  0% {
    opacity: 1;
    transform: scale(1.05);
    color: rgba(163,107,31,255);
  }
  50% {
    opacity: 0.6;
    color: rgba(163,107,31,255);
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1.05);
    color: rgba(163,107,31,255);
  }
}

@keyframes blink-logo {
    0% {
      opacity: 1;
      transform: scale(1.05);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.090);
    }
    50% {
      opacity: 0.6;
      transform: scale(1);
    }
    100% {
      opacity: 1;
      transform: scale(1.05);
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.090);
    }
}