.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(10px); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
} 

.popupContent {
    width: 225px;
    min-height: 200px;
    max-height: 50vh; 
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    padding: 30px 16px 16px 16px;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 500ms;
}

.popupContent::-webkit-scrollbar {
    width: 7px;
}

.popupContent::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

.popupContent::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 4px;
}

.popupContent::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.openBtn {
    font-size: 16px;
    cursor: pointer;
}

.avatarSeparator {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 600;
    color: #999999;
    margin: 8px 0;
}
  
.avatarSeparator::before,
.avatarSeparator::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 0 15px;
}
  
.fileUploader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
  
.chooseBtn {
    padding: 10px 20px;
    background: linear-gradient(to right, #4ccf99, #02a747);
    color: white;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: all 500ms;
}
  
.chooseBtn:hover {
    background: linear-gradient(to right, #4ccf99, #20b85f);
}
  
.fileInput {
    display: none;
}
  
.imageUploadingArea {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
}
  
.uploadBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed #a1a1a1;
    border-radius: 10px;
    padding: 3px;
    cursor: pointer;
    transition: all 100ms;
}

.uploadBtn:hover {
    transform: scale(1.05);
}

.diconnectedPicture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    transition: all 200ms;
    align-items: center;
    justify-content: center;
}

.lostConnectionInLoadingAvatars{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lostConnectionInLoadingAvatars span {
    margin: 12px 0 4px 0 ;
}

.imageUploadingArea img {
    width: 35px;
    height: 35px;
    cursor: pointer;
}
  
.blinkingImage {
    animation: blink 1s infinite;
}
  
@keyframes blink {
  0% {
    opacity: 1;
    transform: scale(1.05);
  }
  50% {
    opacity: 0.6;
    transform: scale(1);

  }
  100% {
    opacity: 1;
    transform: scale(1.05);
  }
}